{% extends 'base.html' %}
{% block conteudo %}
<nav class="p-4 navbar navbar-expand-lg navbar-dark bg-dark " style="height: 80px">
  <div class="container-fluid">
    <div class="col-md-8">
      <h1 class="navbar-brand" style="font-family: 'Montserrat', sans-serif; font-size:30px;"><a class="nav-link" href="{{url_for('home_route.home')}}">New Query</a></h1>
    </div>
  </div>
</nav>
<h1 class="titulo_result" style="padding-top:1em;"> Team not found or unavailable.</h1>
<h1 class="titulo_result"><a class="titulo2 nav-link" href="{{url_for('home_route.home')}}">New query.</a></h1>

{% endblock conteudo %}